#radar, #treemap {
  display:     block;
  max-width:   100%;
  margin:      auto;
  padding-top: 10px;
}
#breadcrumbs {
  margin:  0px;
  padding: 0px;
  cursor:  pointer;
  color: #009DB0;
}
.crumb:not(:first-child):before {
  content: "\00a0>\00a0";
  color: #333;
}
#table {
  display:   block;
  max-width: 100%;
  margin:    auto;
}
#tooltip p {
  margin:  0px;
  padding: 0px;
}
.amount {
  padding: 0px;
  margin:  0px;
  font-size:   medium;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.name {
  padding: 0px;
  margin:  0px;
  font-size:   small;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#spacer {
  height: 30px;
}
