extends templates/flow-template.jade

block title
  h2 Cash Flow: 2017 Adopted Budget Flow

block datasource
  h6
    | Data source:&nbsp;
    a(href="/files/BudgetData for Public Adopted FY2016-17 Midcycle.xlsx") BudgetData for Public Adopted FY2016-17 Midcycle
  h6 Data provided by City of Wichita staff; publication on #[a(href="http://opendata.wichita.gov") opendata.wichita.gov].

block disqus_config
  script(type="text/javascript").
    var disqus_identifier = "2017-adopted-budget-flow";

block get_datafiles
  script(type="text/javascript").
    var datafiles = [{filename: "2017__adopted.csv"}];
