extends templates/tree-template.jade

block title 
  h1 Detailed Breakdown: 2017 Adopted Budget 

block datasource
  h6
    | Data source:&nbsp;
    a(href="http://opendata.wichita.gov/datasets/city-of-wichita-2017-adopted-budget-expanded") BudgetData for Public Adopted FY2016-17 Midcycle
  h6 Data provided by City of Wichita staff; publication on #[a(href="http://opendata.wichita.gov") opendata.wichita.gov].

block disqus_config
  script(type='text/javascript').
    var disqus_identifier = "2016-17 adjusted budget tree";

block datafiles
  script.
    var config = {
      /* set values available in dropdown files */
      dropdown_values: {
        "Year": ["2017"],
        "Account": ["Revenue", "Expense"]
      },
      /* set the default values */
      dropdown_choice: {
        "Year": "2017",
        "Account": "Expense"
      },
      /* create the url to the data file based on the dropdown choices */
      url: function() {
        return 'data/tree/Adopted.' + this.dropdown_choice["Account"] + "." + this.dropdown_choice["Year"] + ".json";
      }
    };
