doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet" href="/css/main.css")
    title= title
    if environment == "production"
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-62414924-2', 'auto');
        ga('send', 'pageview');
    else
      script.
        ga = function() {};

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js").
    script(src='https://code.jquery.com/jquery-migrate-1.2.1.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js").
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.5/d3.min.js").

  body(class='#{slug}')
    #wrapper
      nav.main-nav
        .navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') Open Budget: Wichita
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Visualizations
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/2017-adopted-budget-tree.html') Budget Tree (2017 Adopted)
                    li
                      a(href='/2017-adopted-budget-flow.html') Budget Flow (2017 Adopted)
                    li
                      a(href='/budget-process.html') Budget Process Timeline

      != yield
      #wrapper-footer

    footer#footer
      .container
        .row
          //-a(rel="license", href="https://creativecommons.org/licenses/by-nc-sa/4.0/")
            img(alt="Creative Commons License", style="border-width:0", src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
          .col-md-7.col-sm-9
            ul.list-inline
              li
                big
                |Open Budget: Wichita
                |is an open-source project by 
                a(href="http://openwichita.com/") OpenWichita 
                | to help citizens
                br
                |better understand Wichita's spending and budget process.
                a(href="http://openwichita.com/slack")  Get Involved.
                br
                |Or,
                a(href="https://github.com/openwichita/openbudgetwichita/issues")  report an issue 
                |with this page.


          .col-sm-3.col-md-push-3
            ul.list-unstyled.list-inline
              li
                a(href="https://github.com/openwichita" target="_blank")
                  img(src="/images/global/github-icon.png")
              li
                a(href="https://twitter.com/openwichita" target="_blank")
                  img(src="/images/global/twitter-icon.png")
              li
                a(href="https://facebook.com/openwichita" target="_blank")
                  img(src="/images/global/facebook-icon.png")
              li
                a(href="mailto:hello@openwichita.com" target="_blank")
                  img(src="/images/global/mail-icon.png")

    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet', type='text/css')
