h2.subheader Who we are
p
| Open Budget: Wichita is the result of many  
a(href="https://github.com/orgs/openwichita/people") contributors 
| including coders, community advocates, and city officials. We're looking for ideas and help, so get in touch and join in at our monthly
| meetups.  We have a monthly in-person meeting (please check 
a(href='http://www.meetup.com/openwichita/' target='_blank') meetup.com 
|for location and time)
| and on-line virtual meetings on 
a(href='http://openwichita.com/slack' target='_blank') Slack
|.

div
h2.subheader How would you use Open Budget: Wichita?
p
| We're trying to build a tool that's useful to all of Wichita — community advocates, journalists, city officials, and the people they serve.
br
br
| The project idea originated in Oakland, CA as 
a(href="https://github.com/openoakland/openbudgetoakland") Open Budget Oakland. 
| Then it was forked by 
a(href="https://github.com/codeforokc/openbudgetokc") Open Budget Oklohoma City, 
| a project under 
a(href="https://http://codeforokc.org/") Code for OKC 
| from which our project was in turn forked.


br
h2.subheader
| We want your ideas!
br
p
br
| What part of the budget should be visualized, and how?
br
| What budget data should be accessible, and why?
br
| Who should be part of this discussion?

div
h2.subheader Get in touch
p
a.social-link(href='mailto:seth@openwichita.com')
img.social-icon(src="/images/global/mail-icon.png" alt="email icon")
|seth@openwichita.com
p
a.social-link(href="https://twitter.com/openwichita" alt="twitter icon" target="_blank")
img.social-icon(src="/images/global/twitter-icon.png")
|@openwichita
p
a.social-link(href="https://www.facebook.com/OpenWichita/" alt="facebook icon" target="_blank")
img.social-icon(src="/images/global/facebook-icon.png")
|OpenWichita