.container
  .row
    .col-md-12
      h1 Wichita Budget Visualizations

  .row.visualizations
    .col-md-4
     a(href="/2017-adopted-budget-tree.html")
       h3 2017 Adopted Budget Tree
       img.img-responsive(src="/images/treemap-thumb.png")
    .col-md-4
     a(href="/2017-adopted-budget-flow.html")
       h3 2017 Adopted Budget Flow
       img.img-responsive(src="/images/flow-thumb.png")
    .col-md-4
     a(href="/budget-process.html")
       h3 Budget Process
       img.img-responsive(src="/images/thumbnail-timeline.png")
