.container
  .row
    .col-md-12
      h1 Wichita Budget Visualizations

  .row.visualizations
    .col-md-4
      a(href="/fy2016-okc-budget-tree.html")
        h3 Fiscal Year 2016 Budget
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
    .col-md-4
      a(href="/budget-process.html")
        h3 Wichita Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
    .col-md-4
      a(href="/budget-radar.html") 
       h3 Radar View
       img.img-responsive(src="/images/radar_screen_thumb.png")
 
  .row
 
  .row.visualizations
    .col-md-4
     a(href="/budget-process.html")
       h3 Budget Process
       img.img-responsive(src="/images/fy2017-timeline-thumb.png")
    .col-md-4
     a(href="/2017-adopted-budget-tree.html")
       h3 2017 Adopted Budget Tree
       img.img-responsive(src="/images/fy2016-tree-thumb.png")
    .col-md-4
     a(href="/2017-adopted-budget-flow.html")
       h3 2017 Adopted Budget Flow
       
