


.container
  .row
    .col-md-8
        div
          h2.subheader How would you use Open Budget: Wichita?
          p
            | We're trying to build a tool that's useful to all of Wichita — community advocates, journalists, city officials, and the people they serve. 
            br
          h2.subheader
            | We want your ideas!
            br
          p
            br
            | What part of the budget should be visualized, and how? 
            br
            | What budget data should be accessible, and why? 
            br
            | Who should be part of this discussion?

        div
          h2.subheader Get in touch
          p
            a.social-link(href='mailto:seth@openwichita.com') 
              img.social-icon(src="/images/global/mail-icon.png" alt="email icon")
              |seth@openwichita.com
          p
            a.social-link(href="https://twitter.com/openwichita" alt="twitter icon" target="_blank")
              img.social-icon(src="/images/global/twitter-icon.png")
              |@openwichita
          p
            a.social-link(href="https://www.facebook.com/OpenWichita/" alt="facebook icon" target="_blank")
              img.social-icon(src="/images/global/facebook-icon.png")
              |OpenWichita
