.container
  .row
    .col-md-12
      h1 Wichita, KS Budget Visualizations
      h4.subheader
        | Understanding the city budget by visualizing data, providing a forum for dialogue, and sharing essential information about the budget process.

  hr

  .row.visualizations
    .col-md-4
      a(href="/2017-adopted-budget-tree.html")
        h3 Budget Tree (2017 Adopted)
        img.img-responsive(src="/images/thumb-tree.png")
        p See the entire 2017 budget and drill down into various departments and programs.
    .col-md-4
      a(href="/2017-adopted-budget-flow.html")
        h3 Budget Flow (2017 Adopted)
        img.img-responsive(src="/images/thumb-flow.png")
        p See the flow of revenue and expenditures through the 2017 budget.
    .col-md-4
      a(href="/budget-process.html")
        h3 Budget Process Timeline
        img.img-responsive(src="/images/thumb-timeline.png")
        p Learn about the process involved in developing the city's budget, and get involved.

  hr

  .row
    .col-md-6
      != partial("_what-we-do")

    .col-md-6
      != partial("_who-we-are")
